.apsus-header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    background-color: #DD9296;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-shadow: 0px 6px 5px -5px rgba(107,104,107,1);
}

.head-nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.head-nav a {
    color: rgb(73, 72, 72);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transition: background-color 0.3s;
}

.head-nav a:hover {
    background-color: rgba(177, 173, 173, 0.788);
}

.head-nav a:not(:last-child) {
    border-right: 1px solid gray;
}

.header-logo {
    font-size: 2rem;
    font-weight: bolder;
}

.header-logo span {
    color: yellow;
}