.apsus-header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    height: 65px;
    background-color: #DD9296;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid rgb(133, 133, 133);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.267);
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60%;
}

.head-nav a {
    height: 100%;
    color: rgb(73, 72, 72);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    transition: background-color 0.3s;

}

.head-nav a:hover {
    background-color: rgba(255, 255, 255, 0.349);
}

.head-nav a:not(:last-child) {
    border-right: 1px solid rgba(180, 177, 177, 0.452);
}

.header-logo {
    font-size: 2.4rem;
    font-weight: bolder;
    cursor: pointer;
    transition: 150ms;
}

.header-logo:hover {
    color: #F5D491;
}

.header-logo span {
    color: #F5D491;
}

.apsus-header .router-link-active {
    color: snow;
}

.apsus-header svg {
    display: none;
}

@media screen and (max-width: 600px) {
    .apsus-header {
        padding: 0 10px;

    }
    .header-logo {
        font-size: 1.4rem;
    }
    .apsus-header svg {
        display: block;
        fill: rgb(73, 72, 72);
        width: 30px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .hamburger-logo-trans {
        transform: rotate(90deg);
    }

    .head-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        right: 0;
        transform: translateX(102%);
        top: 65px;
        width: 70%;
        height: 100vh;
        background-color:  #dd9296;
        transition: transform .3s;
        box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.267);
        border-bottom-left-radius: 10px;
    }
    .head-nav a {
        font-size: 1.5rem;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head-nav a:not(:last-child) {
        border-right: unset;
        border-bottom: 1px solid rgba(180, 177, 177, 0.452);
    }
    .nav-bar-modal {
        transform: translateX(0);
    }
}