/* General */
@import './apsus-footer.css';
@import './apsus-header.css';
@import './home-page.css';
@import './apps/keep-app/keep-main.css';
/* ////////////////// */
/* Mail */
@import './mail/mail-app.css';

@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

main {
    max-width: 1100px;
}

body {
    color: rgb(73, 72, 72);
    margin: 0 auto;
    font-family: Roboto-Regular;
    background-color: rgb(243, 239, 239);
}

button {
    cursor: pointer;
}

.main-app-container {
    margin: 75px auto 0 auto  ;
    position: relative;
    padding-block-end: 65px;
}
