/* General */
@import './apsus-footer.css';
@import './apsus-header.css';
@import './home-page.css';
@import './apps/keep-app/keep-main.css';
/* ////////////////// */
/* Mail */
@import './mail/mail-app.css';

h1 {
    color: blue
}

main {
    margin-block-start: 100px;
}
body {
    color: rgb(73, 72, 72);
}

