.keep-color-picker {
    position: relative;
    display: inline;
    cursor: pointer;    
}

.keep-color-picker .keep-colors {
    position: absolute;
    bottom: 0rem;
    display: flex;
    visibility: hidden; 
    opacity: 0;
    transition: 100ms ease-in-out;  
    background-color: #757575;
    border-radius: 5px;
    padding: 0.05rem 0.3rem;
}

.keep-color-picker:hover .keep-colors {
    visibility: visible;
    opacity: 0.9;
    bottom: 1.5rem;
}

.keep-color-picker .keep-colors span{
    font-size: 1.5rem;
    margin: 0 0.1rem;
    transition: 100ms ease-in-out;
}

.keep-color-picker .keep-colors span:hover{
    transform: scale(1.2)
}