.keep-add {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    transition: 150ms ease-in-out;
    border-radius: 0.5rem;
    border: 1px solid rgba(192, 192, 192, 0.918);
}

.keep-add:hover {
    box-shadow: 0px 1px 5px 1px rgba(49, 49, 49, 0.541);

}

.keep-add .keep-type {
    color: rgb(255, 255, 0);
    transition: color 100ms ease-in-out;
}

.keep-add:focus-within {
    box-shadow: none;
}

.keep-add:focus-within .new-keep input[type="submit"] {
    opacity: 1;
    outline: none;
}

.keep-add:focus-within .new-keep input[type="submit"]:hover {
    box-shadow: 0px 1px 5px 1px rgba(49, 49, 49, 0.541);
}

.keep-add:focus-within .new-keep input[type="submit"]:active {
    box-shadow: inset 0px 1px 0px 1px rgba(49, 49, 49, 0.541);
}

.keep-add .keep-type-select {
    display: flex;
    justify-content: flex-start;
}

.keep-add .keep-type-select * {
    margin-inline-start: 2px;
    cursor: pointer;
    transition: 100ms ease-out;
}

.keep-add .keep-type-select svg:hover {
    background-color: rgba(189, 189, 189, 0.692);
    box-shadow: 0px 1px 1px 0px rgba(88, 88, 88, 0.808);
}

.keep-add .keep-type-select svg:active {
    fill: black;
    box-shadow: 0px 1px 1px 0px rgba(88, 88, 88, 0.808);
}

.keep-add input {
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    margin: 5px;
    transition: 150ms;
}

.keep-add input:focus[type="text"] {
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 1px rgba(49, 49, 49, 0.541);
}

.keep-add .new-keep {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
}

.keep-add .new-keep input[type="text"] {
    grid-column: 1 / span 1;
}

.keep-add .new-keep input[type="submit"] {
    opacity: 0;
    grid-column: 2 / span 1;
    cursor: pointer;
    border: 1px solid rgba(192, 192, 192, 0.918);
}

.keep-add .new-keep.new-todos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keep-add .new-keep.new-todos form {
    display: flex;
    justify-content: space-between;
}

.keep-add .new-keep.new-todos form :first-child {
    flex-basis: 80%;
}

.keep-add .new-keep.new-todos form :last-child {
    flex-basis: 20%;
}

.keep-add .new-keep.new-todos .todo-list {
    list-style: none;
    margin: 0.3rem;
    padding: 1rem;
    font-size: 0.8rem;
}

.keep-add .new-keep.new-todos .todo-list li {
    display: flex;
    justify-content: space-between;
}

.keep-add .keep-type-select svg {
    fill: rgb(97, 97, 97);
    width: 30px;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out;
    border-radius: 20%;
    padding: 0.2rem;
}

.keep-add .new-keep.new-todos .todo-list svg {
    fill: rgb(97, 97, 97);
    width: 20px;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out;
    border-radius: 20%;
    padding: 0.2rem;
}

.keep-add .new-keep.new-todos .todo-list svg:hover {
    background-color: rgba(189, 189, 189, 0.692);
    box-shadow: 0px 1px 1px 0px rgba(88, 88, 88, 0.808);
}

.keep-add .new-keep.new-todos .todo-list svg.done {
    fill: rgb(0, 0, 0);
}