.keep {
    margin: 10px;
    transition: background-color 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(192, 192, 192, 0.918);
    border-radius: 0.5rem;
    transition: 150ms ease-out;
}

.keep:focus-within {
    box-shadow: none;
}

.keep * {
    transition: box-shadow 200ms ease-out;
}

.keep:hover {
    box-shadow: 0px 1px 5px 1px rgba(49, 49, 49, 0.541);
}

.keep .keep-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keep .keep-content img {
    max-width: 100%;
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.keep .keep-content .keep-title {
    margin: 0.3rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;

}

.keep .keep-content .keep-txt {
    margin: 0.3rem;
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.keep .keep-content .keep-title:focus,
.keep .keep-content .keep-title:hover,
.keep .keep-content .keep-txt:focus,
.keep .keep-content .keep-txt:hover {
    box-shadow: 0px 1px 4px 0px rgba(49, 49, 49, 0.541);
    outline: none;
}
