    .keep-todos .keep-content .todo-list {
        list-style: none;
        margin: 0;
        padding: 0 1rem;
        font-size: 0.9rem;
    }

    .keep-todos .keep-content .todo-list li {
        display: flex;
        justify-content: space-between;
    }

    .keep-todos .todo-list li .todo-content {
        max-width: 70%;
    }
    .keep-todos .todo-list li .todo-content .todo-txt {
        display: block;
        border-radius: 0.3rem;
        padding: 0.2rem;
        min-width: 100px;
        display: inline-block;
        font-family: inherit;
    }

    .keep-todos .todo-list li .done-at {
        display: block;
        font-size: 0.5rem;
        margin: 0;
    }

    .keep .keep-content .add-todo {
        align-self: flex-start;
        margin-block-start: 0.5rem;
        margin-inline-start: 1.2rem;
        width: 20px;
    }

    .keep .keep-content svg:active {
        fill: rgb(32, 32, 32);
    }

    .keep-todos .todo-list li .todo-content .todo-txt:focus, .keep-todos .todo-list li .todo-content .todo-txt:hover {
        outline: none;
        box-shadow: 0px 1px 4px 0px rgba(49, 49, 49, 0.541);
    }

    .keep-todos .keep-content svg {
        fill: rgb(66, 66, 66);
        width: 20px;
        cursor: pointer;
        /* transition: box-shadow 200ms ease-in-out; */
        border-radius: 20%;
        padding: 0.2rem;
    }

    .keep-todos .keep-content svg:hover {
        background-color: rgba(189, 189, 189, 0.692);
        box-shadow: 0px 1px 1px 0px rgba(88, 88, 88, 0.808);
    }

    .keep-todos .keep-content svg.done {
        fill: rgb(0, 0, 0);
    }