@import './keep-item.css';
.keep-list {
    padding: 5px;
    column-count: 4;
    column-gap: 10px;
    margin: 0 5px;
}

.keep-list>* {
    margin-bottom: 10px;
    break-inside: avoid;
}

@media (max-width:800px) {
    .keep-list {
        column-count: 3;
    }
}

@media (max-width:600px) {
    .keep-list {
        column-count: 2;
    }
}