@import './cmps/keep-navadd.css';
@import './cmps/keep-list.css';
@import './cmps/keep-filter.css';
@import './cmps/keep-controls/keep-controls.css';

.keep-app {
    font-family: Roboto-Regular;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 70px;
    /* max-width: 99vw; */
}

.keep-app .list-title {
    align-self: flex-start;
    margin: 2px 0 5px 15px;
    transition: 300ms;
    font-size: 0;
    text-transform: uppercase;
}

.keep-app .list-title.shown {
    font-size: 0.7rem;
}
