@import './mail-list.css';
@import './mail-details.css';
@import './mail-navbar.css';
@import './mail-filter.css';

.mail-app-section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
}

.main-mail-container {
    display: grid;
    grid-template-columns: 150px 1fr;
}