
.mail-details-section {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
    padding: 8px;
}

.details-subject {
    padding: 8px;
    border-bottom: 1px solid rgba(184, 182, 182, 0.767);
}

.details-sender {
    padding: 8px;
    border-bottom: 1px solid rgba(184, 182, 182, 0.767);
}

.details-body {
    padding: 8px;
    /* border-bottom: 1px solid gray; */
    min-height: 300px;
}