.mail-compose-section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(6, 40px); */
    row-gap: 10px;
    margin-bottom: 60px;
}

.compose-container {
    width: 100%;
}

.mail-compose-section input {
    /* border-radius: 10px; */
    padding: 8px;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
}
.mail-compose-section textarea {
    border-radius: 10px;
    padding: 8px;
    border: 1px solid lightgray;
}

.mail-compose-section button {
    color: gray;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid lightgray;
    transition: 0.3s;
}

.mail-compose-section button svg {
    width: 20px;
}

.mail-compose-section button:hover {
    background-color: rgba(170, 167, 167, 0.541);
    box-shadow: 10px 10px 5px -5px rgba(168,168,168,1);
}

.compose-title {
    text-decoration: underline;
}