/* .mail-list-section {} */

.inbox-mails-list {
    max-width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    list-style-type: none;
    margin: 0;
}

.inbox-mails-list .inbox-mail {
    max-width: 100%;
}

.mail-preview-section {
    border: 1px solid gray;
    background-color: rgba(235, 229, 229, 0.329);
    padding: 15px;
    cursor: pointer;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    column-gap: 5px;
    transition: background-color 0.2s;
    /* align-items: center; */
}

.mail-preview-section:hover {
    background-color: rgba(221, 219, 219, 0.39);
}

.preview-delete-btn {
    display: flex;
    justify-content: flex-end;
}

.mail-preview-section svg {
    fill: rgb(168, 168, 168);
    width: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.mail-preview-section svg:hover {
    transform: scale(1.2)
}


.mail-preview-section .preview-mail-body {
    color: gray;
    font-weight: normal;
}

.mailUnRead {
    background-color: white;
    font-weight: bold;
}

.avatar-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
}