@import './mail-list.css';
@import './mail-details.css';
@import './mail-navbar.css';
@import './mail-filter.css';
@import './mail-compose.css';

.mail-app-section {
    /* margin-top: 25px; */
    /* margin-bottom: 100px; */
    /* padding: 10px; */
}

.main-mail-container {
    /* max-width: 100vw; */
    display: grid;
    grid-template-columns: 150px 1fr;
}

@media screen and (max-width: 600px) {
    .main-mail-container {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }
}