
.filter-section {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-section form {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}